[push]
    autoSetupRemote = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[color]
    ui = auto
[user]
    name = Ian Lunderskov
    email = ian@lundersaur.us
[github]
    username = lundersaur
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
